%h1 Listing textbooks

%table
  %tr
    %th Isbn
    %th Title
    %th Publisher
    %th Grif
    %th Publish year
    %th Pages
    %th Textbook type
    %th
    %th
    %th

  - @textbooks.each do |textbook|
    %tr
      %td= textbook.isbn
      %td= textbook.title
      %td= textbook.publisher
      %td= textbook.grif
      %td= textbook.publish_year
      %td= textbook.pages
      %td= textbook.textbook_type
      %td= link_to 'Show', textbook
      %td= link_to 'Edit', edit_textbook_path(textbook)
      %td= link_to 'Destroy', textbook, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Textbook', new_textbook_path
