= form_for @diploma do |f|
  
  .row
    .col-md-12
      .form-group
        = f.label :name
        = f.text_area :name, class: 'form-control'
        = f.error_messages_for(:name)
  .row
    .col-md-12
      .form-group
        = f.label :issue_organization
        = f.text_area :issue_organization, class: 'form-control'
        = f.error_messages_for(:issue_organization)
  .row
    .col-md-6
      .form-group
        = f.label :issue_date
        .input-group.date.datepicker
          = f.text_field :issue_date, class: 'form-control',:value=>(l(@diploma.issue_date,:format=>"%d.%m.%Y") if @diploma.issue_date)
          %span.input-group-addon.glyphicon.glyphicon-calendar
        = f.error_messages_for(:issue_date)

    .col-md-6
      .form-group
        = f.label :year
        .input-group.date.yearpicker
          = f.text_field :year, class: 'form-control'
          %span.input-group-addon.glyphicon.glyphicon-calendar
        = f.error_messages_for(:year)


  -#.field
    = f.label :creator_login
    = f.text_field :creator_login
    .field
      = f.label :creator_data
      = f.text_area :creator_data

  .row
    .col-md-12
      .form-group
        = f.label :reward_typed_id
        = f.select("reward_typed_id", options_for_chosen, {include_blank: '---'}, class: 'chosen-select form-control')

  = render('documents', :form => f)

  %br
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
  - content_for :error_messages do
    = error_messages_for @diploma
