= form_for @diploma do |f|
  
  .row
    .col-md-12
      .form-group
        = f.label :name
        = f.text_area :name, class: 'form-control'
  .row
    .col-md-12
      .form-group
        = f.label :issue_organization
        = f.text_area :issue_organization, class: 'form-control'
  .row
    .col-md-6
      .form-group
        = f.label :issue_date
        .input-group.date.datepicker
          = f.text_field :issue_date, class: 'form-control'
          %span.input-group-addon.glyphicon.glyphicon-calendar
        = f.error_messages_for(:issue_date)

    .col-md-6
      .form-group
        = f.label :year
        .input-group.date.yearpicker
          = f.text_field :year, class: 'form-control'
          %span.input-group-addon.glyphicon.glyphicon-calendar
        = f.error_messages_for(:year)


  -#.field
    = f.label :creator_login
    = f.text_field :creator_login
    .field
      = f.label :creator_data
      = f.text_area :creator_data

  .row
    .col-md-12
      = f.label :reward_type
      = f.select("reward_type", options_for_chosen, {include_blank: '---', default: '---'}, class: 'chosen-select form-control')

  -#.field
    = f.label :reward
    = f.text_field :reward


  %br
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
  - content_for :error_messages do
    = error_messages_for @diploma
