.page-header
  %h1 
    Диплом: 
    = @diploma.name
    = link_to(edit_diploma_path(@diploma), {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-pencil-square-o
    = link_to(@diploma, :method => :delete, :data => {:confirm => 'Действительно удалить?' }, :class => 'btn btn-primary btn-outline btn-circle') do
      %i.fa.fa-times

  %ol.breadcrumb
    %li
      Редактирование
    %li= link_to(Diploma.models_human_name, diplomas_path)
    %li.active
      = @diploma.human


%p
  %b Название:
  = @diploma.name
%p
  %b Дата получения:
  = l(@diploma.issue_date)
%p
  %b Выдавшая организация:
  = @diploma.issue_organization
%p
  %b Год:
  = @diploma.year
-#%p
  %b Creator login:
  = @diploma.creator_login
  %p
    %b Creator data:
    = @diploma.creator_data
%p
  %b Reward:
  =link_to @diploma.reward_name, @diploma.reward

%p
  %b Документ
  - @diploma.documents.each do |document|
    .media
      .media-left
        = image_tag document.paper.url(:thumb), class: 'media-object'
      .media-body
        %p= document.description
