%h1 Listing nir_types

%table
  %tr
    %th Name
    %th Creator login
    %th Creator data
    %th
    %th
    %th

  - @nir_types.each do |nir_type|
    %tr
      %td= nir_type.name
      %td= link_to 'Show', nir_type
      %td= link_to 'Edit', edit_nir_type_path(nir_type)
      %td= link_to 'Destroy', nir_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Nir type', new_nir_type_path
