= form_for @person do |f|
  .row
    .col-md-6
      .form-group
        = f.label :last_name
        = f.text_field :last_name, class: 'form-control'
        = f.error_messages_for(:last_name)
    .col-md-6
      .form-group
        = f.label :first_name
        = f.text_field :first_name, class: 'form-control'
        = f.error_messages_for(:first_name)
    .col-md-6
      .form-group
        = f.label :second_name
        = f.text_field :second_name, class: 'form-control'
        = f.error_messages_for(:second_name)
    .col-md-8
      .form-group
        = f.label :external_ids
        = f.text_area :external_ids, class: 'form-control'
        = f.error_messages_for(:external_ids)
  .row
    .col-md-8
      .form-group
        = f.label :birthday
        .input-group.date#datepicker2
          = f.text_field :birthday, class: 'form-control',:value=>(l(@person.birthday,:format=>"%d.%m.%Y") if @person.birthday)
  .form-actions
    = f.submit 'Сохранить персону', class: 'btn btn-primary'
  - content_for :error_messages do
    = error_messages_for @person




