.page-header
  %h1 
    Заявка: 
    = @ois_request.number
    = link_to(edit_ois_request_path(@ois_request), {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-pencil-square-o
    = link_to(@ois_request, :method => :delete, :data => {:confirm => 'Действительно удалить?' }, :class => 'btn btn-primary btn-outline btn-circle') do
      %i.fa.fa-times

  %ol.breadcrumb
    %li
      Редактирование
    %li= link_to(OisRequest.models_human_name, ois_requests_path)
    %li.active
      = @ois_request.human
.box
  %p
    %b Номер заявки:
    = @ois_request.number
  %p
    %b Приоритет:
    = l(@ois_request.priority)
  %p
    %b Автор:
    = @ois_request.author
  %p
    %b Название:
    = @ois_request.name
  %p
    %b Объект:
    = @ois_request.object
  %p
    %b Регистрирующий орган:
    = @ois_request.reg_agency

  -if @ois_request.research_effort
    %p
      %b НИР:
      = @ois_request.research_effort.name
  %p
    %b Статус:
    = @ois_request.status
-#
  %p
    %b Creator login:
    = @ois_request.creator_login
  %p
    %b Creator data:
    = @ois_request.creator_data

