= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_area :name
  .field
    = f.label :source
    = f.text_area :source
  .field
    = f.label :start_page
    = f.number_field :start_page
  .field
    = f.label :finish_page
    = f.number_field :finish_page
  .field
    = f.label :link
    = f.text_area :link
  .field
    = f.label :year
    = f.number_field :year
  .field
    = f.label :creator_login
    = f.text_field :creator_login
  .field
    = f.label :creator_data
    = f.text_area :creator_data
  .actions
    = f.submit 'Save'
