= form_for @article do |f|
  .row
    .col-md-10
      .form-group
        = f.label :name
        = f.text_area :name, class: 'form-control'
        = f.error_messages_for(:name)
  .row
    .col-md-5
      .form-group
        = f.label :start_page
        = f.number_field :start_page, class: 'form-control'
        = f.error_messages_for(:start_page)
    .col-md-5
      .form-group
        = f.label :finish_page
        = f.number_field :finish_page, class: 'form-control'
        = f.error_messages_for(:finish_page)
  .row
    .col-md-10
      .form-group
        = f.label :link
        = f.text_area :link, class: 'form-control'
        = f.error_messages_for(:link)



  .row
    .col-lg-3
      %label Источник 
    .btn-group.col-lg-10{"data-toggle" => "buttons"}
      %label.btn.btn-primary.col-lg-6#show_mag_fields
        %input{:autocomplete => "off", :name => "source_type_mag", :type => "radio"}/
        %b Журнал
      %label.btn.btn-primary.col-lg-6#show_coll_fields
        %input{:autocomplete => "off", :name => "source_type_col", :type => "radio"}/
        %b Сборник трудов
  .row.hidden_magazine{style: "display: none"}
    .col-lg-10
      %fieldset
        = f.label 'О журнале'
        .fields
          = f.fields_for :source do |s_field|
            = f.label :name 
            = s_field.text_area :mag_name, class: 'form-control'
            = f.label :year
            = s_field.number_field :mag_year, class: 'form-control'
            = f.label 'Выпуск'
            = s_field.text_field :output, class: 'form-control'
            %br
            = f.label 'Российский'
            = s_field.check_box :is_russian, id: 'check_russian'
            = f.label 'В РИНЦ'
            = s_field.check_box :in_rinc, id: 'check_rinc'
          = f.error_messages_for(:source)
  .row.hidden_collection{style: "display: none"}  
    .col-lg-10
      %fieldset
        = f.label 'О сбонике трудов'
        .fields
          = f.fields_for :source do |s_field|
            = f.label :name 
            = s_field.text_area :col_name, class: 'form-control'
            = f.label :year
            = s_field.number_field :col_year, class: 'form-control'
          = f.error_messages_for(:source)
  %br
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
  - content_for :error_messages do
    = error_messages_for @article
   
