%h1 Listing theses

%table
  %tr
    %th Person
    %th Speciality
    %th Council
    %th Theme
    %th Ttype
    %th Year
    %th In time
    %th Defence date
    %th Council code
    %th
    %th
    %th

  - @theses.each do |thesis|
    %tr
      %td= thesis.person
      %td= thesis.speciality
      %td= thesis.council
      %td= thesis.theme
      %td= thesis.ttype
      %td= thesis.year
      %td= thesis.in_time
      %td= thesis.defence_date
      %td= thesis.council_code
      %td= link_to 'Show', thesis
      %td= link_to 'Edit', edit_thesis_path(thesis)
      %td= link_to 'Destroy', thesis, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Thesis', new_thesis_path
