= form_for @people_textbook do |f|
  - if @people_textbook.errors.any?
    #error_explanation
      %h2= "#{pluralize(@people_textbook.errors.count, "error")} prohibited this people_textbook from being saved:"
      %ul
        - @people_textbook.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :textbook
    = f.text_field :textbook
  .field
    = f.label :person
    = f.text_field :person
  .field
    = f.label :old_lastname
    = f.text_field :old_lastname
  .field
    = f.label :is_teacher
    = f.check_box :is_teacher
  .field
    = f.label :is_staffteacher
    = f.check_box :is_staffteacher
  .field
    = f.label :is_student
    = f.check_box :is_student
  .field
    = f.label :is_postgrad
    = f.check_box :is_postgrad
  .field
    = f.label :details
    = f.text_area :details
  .actions
    = f.submit 'Save'
