= form_for @user do |f|
  .row
    .col-md-4
      .form-group
        = f.label :login
        = f.text_field :login, class: 'form-control'
        = f.error_messages_for(:login)
    .col-md-8
      .form-group
        = f.label :info
        = f.text_field :info, class: 'form-control'
        = f.error_messages_for(:info)
  %h4= User.human_attribute_name(:data)
  - i = 0
  - @user.data.each do |key, value|
    .row
      .col-md-6
        .form-group
          = label_tag("user[data][][key]", "Ключ") 
          = text_field_tag("user[data][][key]", key, class: 'form-control')
      .col-md-6
        .form-group
          = label_tag("user[data][][value]", "Значение") 
          = text_field_tag("user[data][][value]", value, class: 'form-control')
    - i+= 1
  - (3 - @user.data.keys.size).times do
    .row
      .col-md-6
        .form-group
          = label_tag("user[data][][key]", "Ключ") 
          = text_field_tag("user[data][][key]", '', class: 'form-control')
      .col-md-6
        .form-group
          = label_tag("user[data][][value]", "Значение") 
          = text_field_tag("user[data][][value]", '', class: 'form-control')
    - i+= 1
  %h4= User.human_attribute_name(:role_users)
  = f.fields_for :role_users do |ff|
    .row
      .col-md-4
        .form-group
          = ff.label :role_id
          = ff.select(:role_id, Role.pluck(:info, :id), {:include_blank => true}, class: 'form-control')
          = ff.error_messages_for(:role_id)
      .col-md-4
        .form-group
          = ff.label :value
          = ff.text_field :value, class: 'form-control'
          = ff.error_messages_for(:value)
      .col-md-4
        .form-actions
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
  - content_for :error_messages do
    = error_messages_for @user
