= form_for @conference do |f|
  .row
    .col-md-12
      .form-group
        = f.label :name
        = f.text_area :name, class: 'form-control'
        = f.error_messages_for(:name)
  .row
    .col-md-8
      .form-group
        = f.label :country
        = f.text_field :country, class: 'form-control'
        = f.error_messages_for(:country)
    .col-md-4
      .form-group
        = f.label :city
        = f.text_field :city, class: 'form-control'
        = f.error_messages_for(:city)
  .row
    .col-md-6
      .form-group
        = f.label :start
        .input-group.date#datetimepicker1
          = f.text_field :start, class: 'form-control',:value=>(l(@conference.start,:format=>"%d.%m.%Y") if @conference.start)
          %span.input-group-addon.glyphicon.glyphicon-calendar
        = f.error_messages_for(:start)
    .col-md-6
      .form-group
        = f.label :finish
        .input-group.date#datetimepicker2
          = f.text_field :finish, class: 'form-control',:value=>(l(@conference.finish,:format=>"%d.%m.%Y") if @conference.finish)
          %span.input-group-addon.glyphicon.glyphicon-calendar
        = f.error_messages_for(:finish)

  .row
    -#.col-md-6
      = f.label :year
      .input-group.date.yearpicker
        = f.text_field :year, class: 'form-control'
        %span.input-group-addon.glyphicon.glyphicon-calendar
      = f.error_messages_for(:year)
    .col-md-6
      = f.label :ctype
      = f.select(:ctype, ['международная','на базе вуза','региональная','всероссийская', 'другое'], {}, class: 'form-control')
      = f.error_messages_for(:ctype)
  %br
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
  - content_for :error_messages do
    = error_messages_for @conference
