= form_for @licence do |f|
  .form-group
    = f.label :name
    = f.text_area :name, class: 'form-control'
    = f.error_messages_for(:name)
  .row
    .col-md-5
      .form-group
        = f.label :number
        = f.text_field :number, class: 'form-control'
        = f.error_messages_for(:number)
    .col-md-7
      .form-group
        = f.label :ltype
        = f.select(:ltype, ['изобретение', 'промышленный образец','полезная модель','программа для ЭВМ','база данных','товарный знак'], {}, class: 'form-control')
        = f.error_messages_for(:ltype)
  .row
    .col-md-6
      .form-group
        = f.label :reg_date
        .input-group.date.datepicker
          = f.text_field :reg_date, class: 'form-control',:value=>(l(@licence.reg_date,:format=>"%d.%m.%Y") if @licence.reg_date)
          %span.input-group-addon.glyphicon.glyphicon-calendar
      = f.error_messages_for(:reg_date)
    .col-md-6
      .form-group
        = f.label :expiration_date
        .input-group.date.datepicker
          = f.text_field :expiration_date, class: 'form-control',:value=>(l(@licence.expiration_date,:format=>"%d.%m.%Y") if @licence.expiration_date)
          %span.input-group-addon.glyphicon.glyphicon-calendar
      = f.error_messages_for(:expiration_date)

  .row
    .col-md-6
      .form-group
        = f.label :research_effort_id
        = f.select("research_effort_id", chosen_options(ResearchEffort), {include_blank: ''}, class: 'chosen-select form-control')
        = f.error_messages_for(:research_effort)
    .col-md-6
      .form-group
        = f.label :support
        = f.select( :support, ['патент', 'поддержка патента'], {include_blank: ''}, class: 'form-control')


  .form-group
    = f.label :req_number
    = f.text_field :req_number, class: 'form-control'
  .form-group
    = f.label :req_author
    = f.text_area :req_author, class: 'form-control'
  .form-group
    = f.label :req_object
    = f.text_area :req_object, class: 'form-control'
  .form-group
    = f.label :req_status
    = f.text_field :req_status, class: 'form-control'
  .form-group
    = f.label :reg_agency
    = f.text_field :reg_agency, class: 'form-control'
  .form-group
    = f.label :req_priority
    = f.date_select :req_priority, class: 'form-control'

  %br
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
  - content_for :error_messages do
    = error_messages_for  @licence
