%p#notice= notice

%p
  %b Number:
  = @licence.number
%p
  %b Reg date:
  = @licence.reg_date
%p
  %b Type:
  = @licence.type
%p
  %b Name:
  = @licence.name
%p
  %b Expiration date:
  = @licence.expiration_date
%p
  %b Req number:
  = @licence.req_number
%p
  %b Req author:
  = @licence.req_author
%p
  %b Req object:
  = @licence.req_object
%p
  %b Req status:
  = @licence.req_status
%p
  %b Req agency:
  = @licence.req_agency
%p
  %b Req priority:
  = @licence.req_priority
%p
  %b Support:
  = @licence.support
%p
  %b Research effort:
  = @licence.research_effort
%p
  %b Creator login:
  = @licence.creator_login
%p
  %b Creator data:
  = @licence.creator_data

= link_to 'Edit', edit_licence_path(@licence)
\|
= link_to 'Back', licences_path
