.page-header
  %h1 
    Одбласть: 
    = @field.name
    = link_to(edit_field_path(@field), {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-pencil-square-o
    = link_to(@field, :method => :delete, :data => {:confirm => 'Действительно удалить?' }, :class => 'btn btn-primary btn-outline btn-circle') do
      %i.fa.fa-times

  %ol.breadcrumb
    %li
      Администрирование
    %li= link_to(Field.models_human_name, fields_path)
    %li.active
      = @field.human

.box
  .row
    .col-md-2
      = Field.human_attribute_name(:code)
    .col-md-2
      = @field.code
  .row
    .col-md-2
      = Field.human_attribute_name(:name)
    .col-md-10
      = @field.name
