.page-header
  %h1 
    Одбласть: 
    = @filed.name
    = link_to(edit_filed_path(@filed), {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-pencil-square-o
    = link_to(@filed, :method => :delete, :data => {:confirm => 'Действительно удалить?' }, :class => 'btn btn-primary btn-outline btn-circle') do
      %i.fa.fa-times

  %ol.breadcrumb
    %li
      Администрирование
    %li= link_to(Filed.models_human_name, fileds_path)
    %li.active
      = @filed.human

.box
  .row
    .col-md-2
      = Filed.human_attribute_name(:code)
    .col-md-2
      = @filed.code
  .row
    .col-md-2
      = Filed.human_attribute_name(:name)
    .col-md-2
      = @filed.name
