= form_for @grnti do |f|
  .row
    .col-md-4
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control'
        = f.error_messages_for(:name)
    .col-md-8
      .form-group
        = f.label :grnti
        = f.text_field :grnti, class: 'form-control'
        = f.error_messages_for(:grnti)
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
  - content_for :error_messages do
    = error_messages_for @grnti
