= form_for @research_effort do |f|
  .form-group
    = f.label :name
    = f.text_area :name, class: 'form-control'
    = f.error_messages_for(:name)
  .row.underline_re
    .col-md-4
      .form-group
        = f.label :start_date
        .input-group.date.datepicker
          = f.text_field :start_date, class: 'form-control',:value=>(l(@research_effort.start_date,:format=>"%d.%m.%Y") if @research_effort.start_date)
          %span.input-group-addon.glyphicon.glyphicon-calendar
        = f.error_messages_for(:start_date)
    .col-md-4
      .form-group
        = f.label :finish_date
        .input-group.date.datepicker
          = f.text_field :finish_date, class: 'form-control',:value=>(l(@research_effort.finish_date,:format=>"%d.%m.%Y") if @research_effort.finish_date)
          %span.input-group-addon.glyphicon.glyphicon-calendar
        = f.error_messages_for(:finish_date)  
    .col-md-4
      .form-group
        = f.label :is_nir
        %br
        = f.check_box :is_nir, id: 'check_isnir'
        = f.error_messages_for(:is_nir)
  .row
    .col-md-6
      .form-group
        = f.label :inventory_number
        = f.text_field :inventory_number, class: 'form-control'
        = f.error_messages_for(:inventory_number)
    .col-md-6
      .form-group
        = f.label :state_reg_number
        = f.text_field :state_reg_number, class: 'form-control'
        = f.error_messages_for(:state_reg_number)
  .row.underline_re
    .col-md-6
      .form-group
        = f.label :nir_number
        = f.text_field :nir_number, class: 'form-control'
        = f.error_messages_for(:nir_number)
    .col-md-6
      .form-group
        = f.label :full_value
        = f.text_field :full_value, class: 'form-control'
        = f.error_messages_for(:full_value)
  .row
    .col-md-6
      .form-group
        = f.label :grnti_id
        = f.select("grnti_id", chosen_options(Grnti), {include_blank: ''}, class: 'chosen-select form-control')
        = f.error_messages_for(:grnti_id)
    .col-md-6
      .form-group
        = f.label :nir_type_id
        = f.select("nir_type_id", chosen_options(NirType), {include_blank: ''}, class: 'chosen-select form-control')
        = f.error_messages_for(:nir_type_id)

  .row
    .col-md-6
      .form-group
        = f.label :state_program_id
        = f.select("state_program_id", chosen_options(StateProgram), {include_blank: ''}, class: 'chosen-select form-control')
        = f.error_messages_for(:state_program_id)
    .col-md-6
      .form-group
        = f.label :source_id
        = f.select("source_id", chosen_options(Source), {include_blank: ''}, class: 'chosen-select form-control')
        = f.error_messages_for(:source_id)
  .row.underline_re
    .col-md-6
      .form-group
        = f.label :field_id
        = f.select("field_id", chosen_options(Field), {include_blank: ''}, class: 'chosen-select form-control')
        = f.error_messages_for(:field_id)
    .col-md-6
      .form-group
        = f.label :scientific_school_id
        = f.select("scientific_school_id", chosen_options(ScientificSchool), {include_blank: ''}, class: 'chosen-select form-control')
        = f.error_messages_for(:scientific_school_id)


  .row
    .col-md-12
      #research_effort_year_value{ data: {period_template: render('periods', f: f, year: 'year_number', value: nil) } }
        - if @research_effort.year_value
          - @research_effort.year_value.each do |year, value|
            = render('periods', f: f, year: year, value: value)
        -# %a.btn.btn -primary.periods_add{ data: {new_link: render('periods', :f => period_form, :period => {year: nil, value: nil})} }
          %i.fa.fa-plus
          Добавить период
      = f.error_messages_for(:year_value)

  %br
  .form-actions
    = f.submit nil, class: 'btn btn-primary'
  - content_for :error_messages do
    = error_messages_for @research_effort
