.page-header
  %h1 
    НИР: 
    = @research_effort.name
    = link_to(edit_research_effort_path(@research_effort), {:class => 'btn btn-primary btn-outline btn-circle'}) do
      %i.fa.fa-pencil-square-o
    = link_to(@research_effort, :method => :delete, :data => {:confirm => 'Действительно удалить?' }, :class => 'btn btn-primary btn-outline btn-circle') do
      %i.fa.fa-times

  %ol.breadcrumb
    %li
      Редактирование
    %li= link_to(ResearchEffort.models_human_name, research_efforts_path)
    %li.active
      = @research_effort.human
.box
  %p
    %b Название:
    = @research_effort.name
  %p
    %b Гос. программа:
    = @research_effort.state_program.name
  %p
    %b Дата начала:
    = l(@research_effort.start_date)
  %p
    %b Дата окончания:
    = l(@research_effort.finish_date)
  %p
    %b ГРНТИ:
    = @research_effort.grnti.name
  %p
    %b Область науки:
    = @research_effort.field.name
  %p
    %b Полная сумма финансирования:
    = @research_effort.full_value
    %i.fa.fa-rub
  %p
    - @research_effort.year_value.each do |key, value|
      - if value.present?
        %p
          %b= "Год #{key}"
          = "- #{value}"
          %i.fa.fa-rub
      
  %p
    %b Государственный регистрационный номер:
    = @research_effort.state_reg_number
  %p
    %b Номер НИР:
    = @research_effort.nir_number
  %p
    %b Инвентарный номер:
    = @research_effort.inventory_number
  %p
    %b Тип НИР:
    = @research_effort.nir_type.name
  %p
    %b Источник финансирования:
    = @research_effort.source.funding_source
  %p
    %b Научная школа:
    = @research_effort.scientific_school.name
  %p
    %b Является ли НИР:
    -if @research_effort.is_nir
      Да
    - else
      Нет
-#
  %p
    %b Creator login:
    = @research_effort.creator_login
  %p
    %b Creator data:
    = @research_effort.creator_data

