<!DOCTYPE html>
<html lang = "ru">
<head>
  <title>Hours</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav class = "navbar navbar-default navbar-inverse">
    <%= render 'top_bar' %>
  </nav>
  <div id = "middle">    
    <%= render 'side_bar' %>
    <div class = "container-fluid main-with-side-bar" id = "main">    
      <%=  render 'flash_messages' %>
      <%= yield %>
    </div>
  </div>
    
</body>
</html>
