<!DOCTYPE html>
<html lang = "ru">
<head>
  <title>Hours</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav class = "navbar navbar-default navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href = "<%= root_path %>">
          <span class = "intro"><%= t('app.company.short_name') %></span>          
          <span class = "intro-small"><%= t('app.name') %></span>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <%  generate_top_bar_items.each do |item| %>
            <% if item.has_key?(:children) %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Администрирование<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <% item[:children].each do |child| %>
                    <li>
                      <%= link_to(:controller => child[:controller],
                          :action => child[:action]) do %>
                        <%= child[:name] %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% else %>
              <li>
                <%= link_to(:controller => item[:controller],
                    :action => item[:action]) do %>
                  <%= item[:name] %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">администратор системы<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">сотрудник кафедры</a></li>
              <li><a href="#">ректор</a></li>
            </ul>
          </li>
          <li><a>radigin</a></li>
          <li><a href = "#"><i class = "fa fa-sign-out"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div id = "middle">    
    <div class = "switcher switcher-off navbar-side-off">
      <a class = "side-bar-switcher"><i class = "fa fa-caret-square-o-right"></i></a>
    </div>
    <nav class = "navbar-default navbar-side">
      <div class = "switcher switcher-on">
        <a class = "side-bar-switcher"><i class = "fa fa-caret-square-o-left"></i></a>
      </div>
      <div class = "navbar-side-collapse">
        <ul class="nav">
          <%  generate_side_bar_items.each do |item| %>
            <% if item.has_key?(:children) %>
              <% if item[:class].blank? %>
                <li class="side-bar-dropdown">
                  <a>
                    <i class = "fa <%= item[:icon] %>"></i>
                    <%= item[:name] %>
                    <i class = "fa fa-angle-left side-bar-opener"></i>
                  </a>
                  <ul class="nav nav-side-bar-dropdown navbar-side-off">
                    <% item[:children].each do |child| %>
                      <li <%== child[:class].blank? ? '' : "class = \"#{child[:class]}\"" %>>
                        <%= link_to(:controller => child[:controller],
                            :action => child[:action]) do %>
                          <i class = "fa <%= child[:icon] %>"></i>
                          <%= child[:name] %>
                        <% end %>
                      </li>    
                    <% end %>
                  </ul>
                </li>
              <% else %>
                <li class="side-bar-dropdown <%= item[:class] %>">
                  <a>
                    <i class = "fa <%= item[:icon] %>"></i>
                    <%= item[:name] %>
                    <i class = "fa fa-angle-down side-bar-opener"></i>
                  </a>
                  <ul class="nav nav-side-bar-dropdown">
                    <% item[:children].each do |child| %>
                      <li <%== child[:class].blank? ? '' : "class = \"#{child[:class]}\"" %>>
                        <%= link_to(:controller => child[:controller],
                            :action => child[:action]) do %>
                          <i class = "fa <%= child[:icon] %>"></i>
                          <%= child[:name] %>
                        <% end %>
                      </li>    
                    <% end %>
                  </ul>
                </li>
              <% end %>  
            <% else %>
              <li <%== item[:class].blank? ? '' : "class = \"#{item[:class]}\"" %>>
                <%= link_to(:controller => item[:controller],
                    :action => item[:action]) do %>
                  <i class = "fa <%= item[:icon] %>"></i>
                  <%= item[:name] %>
                <% end %>  
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>  
    </nav>
    <div class = "container-fluid main-with-side-bar" id = "main">    
      <%=  render 'flash_messages' %>
      <%= yield %>
    </div>
  </div>
    
</body>
</html>
